<a href="https://colab.research.google.com/github/jubotero/cursoML/blob/master/TallerIntroPython_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><a name="taller"></a></p>

# 1. Taller Python

## Pregunta 1

Definir una función max_de_dos(), que tome dos números como argumentos y devuelva el mayor de ellos. Si los números son iguales que imprima en pantalla "Los números son iguales" y no regrese ningún valor.

Para ver la solución haga double-click <b>aquí</b>.
<!--

def max_de_dos(a, b):
  
  if a>b:
    output=a
  elif b>a:
    output=b
  else:
    print('Los números son iguales')
    output=None
  return output
  

-->

## Pregunta 2

Escriba un código de python que imprima todos los números pares de una lista dada y que deje de mostrar números cuando se encuentre el número 237

Lista de números de muestra:

numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]

Para ver la solución haga double-click <b>aquí</b>.
<!--

numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]

listaFin=[]
for i in numbers:
  if (i%2==0):
      listaFin.append(i)
  if (i==237): 
      break
print(listaFin)

-->

## Pregunta 3

  * Mostrar con un while los números del 1 al 20

  * Mostrar con un for los números del 1 al 20

Para ver la solución haga double-click <b>aquí</b>.
<!--

a=1
while a<=20: 
  print(a)
  a+=1

#####

for a in range(1,21):
  print(a)

-->

## Pregunta 4

Juguemos al juego de adivinar el numero, generaremos un número entre 1 y 20.

Nuestro objetivo es adivinar el número. Si fallamos nos dirán si es mayor o menor que el número buscado. También poner el número de intentos requeridos.

Para ver la solución haga double-click <b>aquí</b>.
<!--

def adivina_numero():
  
  import numpy as np  
  numero_buscado = np.random.randint(1, 21)
 
  encontrado = False
  intentos = 0

  while not encontrado:

      numero_usuario = int(input("Introduce el número buscado: "))

      if numero_usuario > numero_buscado:
          print("El número que buscas es menor")
          intentos = intentos +1
      elif numero_usuario < numero_buscado:
          print("El numero que buscas es mayor")
          intentos = intentos +1
      else:
          encontrado = True
          print("Has acertado el número correcto es " , numero_usuario, " te ha llevado ", intentos," intentos")

-->

## Pregunta 5

Defina una función llamada `es_cadena_no_vacia()` que evalúe si una cadena de caracteres es vacía o no y que retorne un variable booleana según sea el caso

Para ver la solución haga double-click <b>aquí</b>.
<!--


        def es_cadena_no_vacia(cadena=None):
          if cadena==None:
            salida=False
          else:
            salida=True
          return salida

-->

## Pregunta 6

Defina una función llamada `es_numero()` que evalúa si la entrada es un número y que retorne una variable booleana según sea el caso

Para ver la solución haga double-click <b>aquí</b>.
<!--

def es_numero(num=None):
  if type(num)==int or type(num)==float:
    salida=True
  else:
    salida=False
    
  return salida

-->

## Pregunta 7

Defina una clase llamada Hotel que contenga los atributos nombre, ubicación, puntaje obtenido por votación, y precio. Se tienen las siguientes restricciones:

* El nombre y la ubicación deben ser cadenas no vacías. 
* El puntaje debe ser un número (sin restricciones sobre su valor) 
* El precio debe ser un número distinto de cero.

si no se cumple alguna de las condiciones, ejecute un error que muestre en pantalla el problema.

*Pista*: Use las funciónes `es_cadena_no_vacia()` y `es_numero()`

Para ver la solución haga double-click <b>aquí</b>.
<!--

class Hotel(object):
    """ Hotel: sus atributos son: nombre, ubicacion, puntaje y precio."""

    def __init__(self, nombre = '*', ubicacion = '*',
                 puntaje = 0, precio = float("inf")):
        """ nombre y ubicacion deben ser cadenas no vacías,
            puntaje y precio son números.
            Si el precio es 0 se reemplaza por infinito. """

        def es_cadena_no_vacia(cadena=None):
          if cadena==None:
            salida=False
          else:
            salida=True
          return salida
        
        def es_numero(num=None):
          if type(num)==int or type(num)==float:
            salida=True
          else:
            salida=False

          return salida
        
        if es_cadena_no_vacia (nombre):
            self.nombre = nombre
        else:
            raise TypeError ("El nombre debe ser una cadena no vacía")

        if es_cadena_no_vacia (ubicacion):
            self.ubicacion = ubicacion
        else:
            raise TypeError ("La ubicación debe ser una cadena no vacía")

        if es_numero(puntaje):
            self.puntaje = puntaje
        else:
            raise TypeError ("El puntaje debe ser un número")

        if es_numero(precio):
            if precio != 0:
                self.precio = precio
            else:
                self.precio = float("inf")
        else:
            raise TypeError("El precio debe ser un número")

    def __str__(self):
        """ Muestra el hotel según lo requerido. """
        return self.nombre + " de "+ self.ubicacion+ \
                " - Puntaje: "+ str(self.puntaje) + " - Precio: "+ \
                str(self.precio)+ " pesos."
-->

<p><a name="tallpan"></a></p>

## 2. Taller Pandas

### Ejercicio 1 

Cargue el dataset provisto en la dirección 'https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv'  grafique la ganancia total (total_profit) para todos los meses. La gráfica debe tener las siguientes propiedades:

* El estilo de línea punteado y de color rojo 
* Mostrar la legenda (legend) en la parte inferior derecha
* X label name = Month Number
* Y label name = Profits in dollars
* Título : Company sales data of last year
* Los markers deben ser circulares y de color negro
* El grosor de la línea debe ser 3

Solución esperada:
<p><img  height="260px" src="https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_2_plot_style_properties-768x512.png" align="center" hspace="10px" vspace="0px"></p>

Para ver la solución haga double-click <b>aquí</b>.


<!--

import pandas as pd
import matplotlib.pyplot as plt  
df = pd.read_csv('https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv')
profitList = df ['total_profit'].tolist()
monthList  = df ['month_number'].tolist()
plt.plot(monthList, profitList, label = 'Profit data of last year', 
      color='r', marker='o', markerfacecolor='k', 
      linestyle='--', linewidth=3)
      
plt.xlabel('Month Number')
plt.ylabel('Profit in dollar')
plt.legend(loc='lower right')
plt.title('Company Sales data of last year')
plt.xticks(monthList)
plt.yticks([100000, 200000, 300000, 400000, 500000])
plt.show()
-->

### Ejercicio 2

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1. Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es el número de observaciones y columnas en el dataset? 
3. Mostrar el nombre de las columnas y el tipo de dato que contiene.
4. Mostrar la indexación del dataset.
5. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?
6. ¿Cuál es la ocupación más frecuente?
7. ¿Cuál es la edad media de los usuarios?
8. ¿Cuál es la edad con menos ocurrencia?

Para ver la solución haga double-click <b>aquí</b>.
<!--

1. 

import pandas as pd

users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|', index_col='user_id')
users.head()
  
2.
print("Número de observaciones:",users.shape[0])
print("Número de columnas: ",users.shape[1])

3.
print("Columnas: ",users.columns)
print("Tipo de datos: \n",users.dtypes)

4.
print("Indexación: ",users.index)

5.
print("Número de ocupaciones diferentes:",users.occupation.nunique())

6.
print("Ocupaciones más frecuentes:\n",users.occupation.value_counts().head())

7.
print("Edad media de los usuarios:",round(users.age.mean()))

8.
print("Edades de menos ocurrencia:\n",users.age.value_counts().tail(10))

-->

### Ejercicio 3

Diccionario dado:

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}
            
1. Crea un DataFrame llamado *army* a partir del diccionario dado 

(No olvide incluir los nombres de las columnas en el orden presentado en el diccionario ('regimen', 'company', ...) para que el orden del índice de la columna sea coherente con las soluciones. Si se omite, Pandas ordenará las columnas alfabéticamente.

2. Establezca la columna 'origin' como índice del dataset.
3. Imprima las columnas 'veterans' y 'deaths'
4. Seleccione las columnas 'deaths', 'size' y 'deserters' de Maine a Alaska.
5. Seleccione la tercera columna hasta la séptima columna.
6. Seleccione las filas donde *deaths* sea mayor que 50.
7. Seleccione las filas donde *deaths* sea mayor que 500 o menor que 50.
8. Selecciona todos los *regiments* no nombrados *Dragoons*.
9. Seleccione la tercera celda en la fila llamada *Arizona*
10. Seleccione la tercera celda en la columna llamada *deaths*

Para ver la solución haga double-click <b>aquí</b>.
<!--
1.
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35], 'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9], 'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523], 'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345], 'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3], 'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1], 'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3], 'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

army = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters', 'origin'])

army.head()

2.
army = army.set_index("origin")
army.head()

3. 
army[['veterans', 'deaths']]

4.
army.loc[['Maine','Alaska'] , ["deaths","size","deserters"]]

5.
army.iloc[: , 4:7]

6.
army[army['deaths'] > 50]

7. 
army[(army['deaths'] > 500) | (army['deaths'] < 50)]

8.
army[(army['regiment'] != 'Dragoons')]

9.
army.loc[['Arizona'], ['deaths']]

#O

#army.iloc[[0]

10.
army.loc['Texas', 'deaths']

#O

#army.iloc[[2]


-->

### Ejercicio 4

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1.  Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es la edad media por ocupación?
3. Descubra la proporción de hombres por ocupación y clasifíquela de mayor a menor (cree una columna).
4. Para cada ocupación calcule las edades mínimas y máximas.
5. Para cada combinación de ocupación y género calcule la edad media.
6. Para cada ocupación muestre el porcentaje de mujeres y hombres.

Para ver la solución haga double-click <b>aquí</b>.
<!--

1. 

import pandas as pd

users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|', index_col='user_id')
users.head()
  
2.
users.groupby('occupation').age.mean()

3.
# funcion que mapea el genero a un numero
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

# aplica la funcion a la columna genero y saca el porcentaje de hombres por ocupacion
users['gender_n'] = users['gender'].apply(gender_to_numeric)

# se 
a = users.groupby('occupation').gender_n.sum() / users.occupation.value_counts() * 100 

# ordenamiento de mayor a menor
a.sort_values(ascending = False)

4.
users.groupby('occupation').age.agg(['min', 'max'])

5.
users.groupby(['occupation', 'gender']).age.mean()

6.
# crea un dataframe y aplica "count" al genero
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# crea un dataframe y aplica "count" para cada ocupacion
occup_count = users.groupby(['occupation']).agg('count')

# divida gender_ocup por occup_count y multiplique por 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# mostrar todas las filas de la columna genero
occup_gender.loc[: , 'gender']

-->